.page {
  min-width: 1100px;
    /* мы ещё не умеем делать мобильную версию сайта, */
    /* поэтому выше установлена минимальная ширина страницы */
    max-width: 1600px;
    /* выше установили ограничение по максимальной ширине */
    margin: 0 auto;
    /* выше для экранов больше 1600px отцентрировали весь контент */
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header {  
  overflow: hidden;   
  min-height: 600px;
  max-height: 756px;
  display: flex;
  align-self: center;
  position: absolute;
  position: relative;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #f2f2f2;
 }
  /* выше установили ограничения для секции */

.logo {
  width: 228px;
  height: 32px;
  z-index: 3;
}

.logo_place_header {
  background-image: url(../images/logo_place_header.svg);
  position: absolute;
  top: 30px;
  left: 64px;
}
  
.header_title {
  margin-left: 64px;
  align-self: center;
  width: 730px;
  line-height: 96px;
  font-size: 102px;
  font-weight: 600px;
  z-index: 3;
}

.header_subtitle {
  position: absolute;
  bottom: 30px;
  left: 64px;
  width: 388px;
  line-height: 25px;
  font-weight: normal;
  font-size: 18px;
  z-index: 3;
}

.header_main-illustration {
  object-fit: cover;
  position: absolute;
  bottom: 0;
  right:  0;
  height: 608px;
  width: 765px;
  z-index: 2;
}
/* и элемента с модификатором вида ключ-значение */

.header_square-pic {
  
  height: 568px;
  width: 568px;
  background: #2f80ed;
  position: absolute;
  top: 64px;
  right: 0;
} 



.table__cell_theme_dark {
  width: 200px;
  color: white;
}

.description {
  min-width: 784px;
  min-height: 100px;
  padding: 100px 0 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.two-columns {
  display: flex;
  justify-content: baseline;
  justify-content: space-between;
  margin: auto;
  width: 80%;
}

.two-columns_brief {
  margin: 0;
  width: 175px;
  font-size: 18px;
  font-weight: normal;
  line-height: 1.2;
  color: #2f80ed;

}

.two-columns_main-text {
  min-width: 784;
  width: 80%;
}

.two-columns_paragraph {
  margin: 0 auto 30px;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.two-columns_span-accent {
  line-height: 34px;
  font-size: 24px;
  font-weight: 600;
}

.digits {
  padding: 0 0 100px;
  width: auto;
  height: auto;
  display: block;
}

.section-title {
  width: 60%;
  margin: 0 auto 20px;
  text-align: center;
  line-height: 1.15;
  font-size: 60px;
  font-weight: 600;
}

.section-subtitle {
  width: 60%;
  margin: auto;
  text-align: center;
  line-height: 34px;
  font-size: 24px;
}

.table {
  margin: 0 auto;
  width: 1100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.table_cell { 
  margin: 60px 0 0;
  padding: 0;
  width: 250px;
  list-style: none;
}

.table_heading {
  line-height: 1.15;
  font-size: 24px;
  font-weight: 600;
}

.table_text {
  margin: 20px auto 0;
  line-height: 1.2;
  font-size: 18px;
 
}

.feynman { 
  position: relative;
  height: 100%;
  width: 100%;
  padding: 100px 0 100px;
  height: 890px;
  background-color: #f2f2f2;
  background-image: url(../images/feynman.png);
  background-position: left bottom;
  background-size: 867px 637px;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.feynman_title {
  display: flex;
  flex-direction: column;
  width: 648px;
  text-align: center;
  margin: 0 auto 70px;
  line-height: 1.15;
  font-size: 120px;
  font-weight: 600;
}

.feynman_subtitle{
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
}

.feynman_link {
  position: absolute;
  right: 48px;
  top: 50%;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
}

.kaufman {
  padding: 90px 0 90px;
  position: relative;
  overflow: hidden;
  background-color: #1f1f1f;
  color: #f2f2f2;
}

.kaufman_triangle {
  position: absolute;
  background-image: url(../images/kaufman-triangle.svg);
  height: 877px;
  width: 877px;
  right: -210px;
  background-size: cover;
  z-index: 1;
}

.table__cell_them_dark { 
  margin: 80px 0 0;
  padding: 0;
  width: 200px;
  list-style: none;
  z-index: 1;
}

.footer {
  display: flex;
  background-color: #1f1f1f;
  color: #f2f2f2;
}

.footer_columns {
  margin: 60px auto 40px;
  width: 90%;
  display: flex;
  justify-content: space-between;
}

.footer__column_content_copyright {
  flex-basis: 711px;
  min-height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.logo_place_footer {
  background-image: url(../images/logo_place_footer.svg);
 }

.footer_author {
  margin: 18px 0 18px;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}

.footer_column-links { 
  list-style: none;
  padding-left: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
}

.footer_social-icon_YT::before {
  content: url(../images/youtube-icon.svg);
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
  margin-right: 10px;
}

.footer_social-icon_VK::before {
  content: url(../images/vk_color_white.svg);
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
  margin-right: 10px;
}

.footer_social-icon_TT::before {
  content: url(../images/tiktok-icon.svg);
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
  margin-right: 10px;
}
